@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
.wrap {
  width: 100%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.navi {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
}

.navi li:hover {
  color: #333;
  background-color: #ffe6c1;
}

.submenu {
  background-color: #ffe6c1;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin-left: 65px;
  white-space: nowrap;
  gap: 20px;
}

.submenu li {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.submenu li:hover {
  background-color: antiquewhite;
}

.submenu li a {
  padding: 10px;
  display: inline-block;
}

.navi:hover .submenu {
  display: block;
}
.main {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
section {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 200px); */
  scroll-margin-top: 100px;
  padding: 15px 0;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

/* 메인 영역 시작  */

.mainbox {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.abouttop {
  width: 1000px;
  height: 300px;
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intropic {
  border-radius: 25px;
}
.intro {
  width: 100%;
  height: 300px;
  text-align: left;
  margin: auto;
}
.introtitle {
  font-size: 64px;
  margin-bottom: 40px;
}
.introdiscribtion {
  font-size: 24px;
}

.infobox {
  width: 1000px;
  height: 530px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  column-gap: 200px;
}
.info {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffe6c1;
  border-radius: 25px;
  padding: 10px;
  gap: 20px;
}
.infotitle {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 36px;
  text-align: left;
  gap: 20px;
}
.infodetail {
  font-size: 16px;
  text-align: left;
}
.education {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffe6c1;
  border-radius: 25px;
  padding: 10px;
  gap: 20px;
}
.edutitle {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 36px;
  text-align: left;
  gap: 20px;
}
.edudetail {
  font-size: 16px;
  text-align: left;
}
.software {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffe6c1;
  border-radius: 25px;
  padding: 10px;
  gap: 20px;
}
.softwaretitle {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 36px;
  text-align: left;
  gap: 20px;
}
.softwaredetail {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  text-align: left;
}
.contact {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #ffe6c1;
  border-radius: 25px;
  padding: 10px;
  gap: 20px;
}
.contacttitle {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 36px;
  text-align: left;
  gap: 20px;
}
.contactdetail {
  font-size: 16px;
  text-align: left;
}

/* 비디오 영역 */

.videobox {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.videotop {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.videopagetitle {
  font-size: 64px;
  text-align: center;
}

.videopagedescription {
  font-size: 15px;
  text-align: center;
}
.videopostbox {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}

.mpvideopostbox {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}
.sbvideopostbox {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}
.videocard {
  width: 500px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.videoplay {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.videotext {
  width: 400px;
  height: 130px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videotitie {
  font-size: 32px;
}

.videodescription {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.videodate {
  font-size: 13;
  color: #8d8d8d;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: wheat;
}
.sns ul {
  display: flex;
  gap: 20px;
}

#videomodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 600px;
  padding: 20px;
  background-color: #f5f5f5;
}
.close-btn {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  float: right;
}
.close-btn:hover {
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 95%;
    max-width: 600px;
  }
}
